
@{
    ViewBag.Title = "Forget Password Confirmation";
    Layout = "~/Views/Layout/DashboardLayout/_AccountLayout.cshtml";
}

<div class="msg Bold">Please check your email to reset your password.</div>
